<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>(%_title_%)</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar">(%_logo_%)</span>

						<h1>(%_tagline_%)</h1>

						<ul class="icons">
							<li><a href="(%_twitter_url_%)" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="(%_vimeo_url_%)" class="icon style2 fa-vimeo"><span class="label">Vimeo</span></a></li>
							<li><a href="(%_linkedin_url_%)" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="(%_flickr_url_%)" class="icon style2 fa-flickr"><span class="label">Flickr</span></a></li>
							<li><a href="(%_github_url_%)" class="icon style2 fa-github"><span class="label">Github</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Page Content -->
             				
						<h2>Blog Posts</h2>
        			    (%_blog_listing_%)
              				
					</section>

				<!-- Footer -->
					<footer id="footer">

						(%_footer_%)

					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-16269277-1', 'auto');
			  ga('send', 'pageview');

			</script>

	</body>
</html>